<div class="todo-set">
  <div class="set-header">
    <span class="set-title">{{setTitle}}</span>
  
    <div *ngIf="setTitle == 'Things to do'" class="set-toggle-show-completed">
      <mat-slide-toggle [checked]="showCompleted" (change)="onToggleCompleted($event)"></mat-slide-toggle>
      <span class="show-completed-text">Show completed</span>
    </div>
  </div>

  <div class="set-contents">
    <mat-selection-list #todosList>
      <mat-list-option *ngFor="let todo of todos" checkboxPosition="before" (click)="onTodoClicked($event)">
        {{todo.task}}
        <span class="task-deadline" 
          [matTooltip]="formatDateForTooltip(todo.deadline)"
          matTooltipPosition="above"
          [matTooltipDisabled]="todo.isCompleted">
            {{formatDateForInlineDisplay(todo.deadline, todo.isCompleted)}}
        </span>
      </mat-list-option>
    </mat-selection-list>        
  </div>
</div>