.set-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

.set-header span {
  font-size: 14px;
}

.set-header .set-title {
  font-weight: 500;
  cursor: pointer;
}

.set-toggle-show-completed {
  display: flex;
  align-items: center;
}

.show-completed-text {
  margin-left: 12px;
  position: relative;
  top: 1px;
}

.task-deadline {
  position: absolute;
  right: 14px;
  color: #9f9f9f;
}

.mat-list-option.in-transition {
  /* trigger delayed fade-out animation */
  animation: fadeOutTodo 1s ease-in-out 2s forwards;
}

.mat-list-option.is-completed {
  text-decoration: line-through;
  color: #9f9f9f;
}

@keyframes fadeOutTodo {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}