.set-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 8px;
}

.set-header span {
  font-size: 14px;
}

.set-header .set-title {
  font-weight: 500;
  cursor: pointer;
}

.set-toggle-show-completed {
  display: flex;
  align-items: center;
}

.show-completed-text {
  margin-left: 12px;
  position: relative;
  top: 1px;
}

.task-deadline {
  position: absolute;
  right: 14px;
  color: #9f9f9f;
}