@import '~@angular/material/theming';

@include mat-core();

$simplify-primary: mat-palette($mat-yellow);
$simplify-accent: mat-palette($mat-yellow);

$simplify-warn: mat-palette($mat-red);

$simplify-theme: mat-dark-theme($simplify-primary, $simplify-accent, $simplify-warn);

@include angular-material-theme($simplify-theme);